body {
    background: #000033;
    margin: 40px;
    color: #00ffcc;
    font-family: "Courier New", Courier, monospace;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    margin: 0 10%;
}

.page-wrapper {
    border: 2px solid #0099ff;
    overflow: hidden;
}

/* Default mobile */
.header,
.aside,
.main,
.footer {
    padding: 10px;
    flex: 0 0 100%;
}

.header {
    text-align: center;
}
.main {
    text-align: left;
    background: #9999ff;
    padding: 20px;
}

.footer {
    padding: 40px;
    font-size: 10px;
    text-align: center;
    background: #000022;
    color: #9999ff;
}

@media all and (min-width: 760px) {
    .aside { flex: 1; }
    .main { flex: 3; }
    .aside1 { order: 1; }
    .main { order: 2; } 
    .aside2 { order: 3; }
    .footer { order: 4; }

}
