body {
    background-image: url("assets/medieval_patter.jpg");
    margin: 40px;
    color: #1b1613;
    font-family: "Courier New", Courier, monospace;
}

.flex-container {
    display: flex;
    background-color: #3e2e17;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    margin: 0 10%;
}

.page-wrapper {
    border: 5px solid #C29979;
    overflow: hidden;
}

/* Default mobile */
.header,
.nav,
.aside,
.main,
.footer {
    padding: 10px;
    flex: 0 0 100%;
}

.header {
    text-align: center;
    background-image: url("assets/background.png");
    padding: 8px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    color: #570124;
}

.nav {
    font-size: 18px;
    font-weight: bold;
}

.button {
    text-decoration: none;
    color: #ebd6a9;
    background-color: #570124;
    padding: 4px 14px;
    box-shadow: 4px 2px #1a1617;
    cursor: pointer;
    border-radius: 0; 
    border-style: solid;
    border-width: 2px;
    border-top-color: #7d3c51; 
    border-left-color: #7d3c51;
    border-bottom-color: #380820;
    border-right-color: #380820;
}

.aside1 {
    background-color: #825428 ;
    margin: 5px;
    padding: 10px;
    box-shadow: 4px 2px #1a1617;
}

.classic-line {
    border: 0;
    height: 3px;
    background-color: #C29979;
    border-top: 1px solid #C29979;
    border-bottom: 1px solid #1a1617;
}

.aside2 {
    background-color: #0d2b13;
    color: #ebd6a9;
    margin: 5px;
    padding: 10px;
    box-shadow: 4px 2px #1a1617;
}


.main {
    text-align: left;
    background-color: #f3d9b1;
    padding: 20px;
    box-shadow: 4px 2px #1a1617;
    margin: 5px;

}

.footer {
    padding: 30px;
    font-size: 10px;
    text-align: center;
    background: #000022;
    color: #9999ff;
    margin: 5px;
    box-shadow: 4px 2px #1a1617;
}

@media all and (min-width: 760px) {
    .aside { flex: 1; }
    .main { flex: 3; }
    .aside1 { order: 1; }
    .main { order: 2; } 
    .aside2 { order: 3; }
    .footer { order: 4; }

}



