
.jumbotron {
    background-color: #C5D1EB;
    color: #2b211d;
    text-align: center;
    margin: 10%;
}

h1 {
  background-color: #C5D1EB;
}

h3 {
  background-color: #C5D1EB;
}

p {
  background-color: #C5D1EB;
}

footer {
  background-color: #C5D1EB;
}

img {
  background-color: #C5D1EB;
}

.social-link {
    margin: 1%;
}

