<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->


<main class="main">
  <div class="jumbotron text-center">
    
      <h1 class="display-4">Hello !</h1>
      <h3>Beatriz Cruz</h3>

    
    <p class="lead">Passionate mid-level full-stack developer with a degree in
                    Analysis and Development of Systems, boasting 3 years of hands-on 
                    experience, including a dynamic internship. Proficient in Java/Kotlin, 
                    Spring, and Angular, dedicated to crafting efficient and innovative solutions.</p>
  
  <footer class="text-center mt-5">
      <a href="https://github.com/Trizmera" target="_blank" class="social-link">
        <img src="/assets/github.svg" width="50px">
      </a>
      <a href="https://instagram.com/trizmera" target="_blank" class="social-link">
        <img src="/assets/instagram.svg" width="50px">
      </a>
      <a href="https://linkedin.com/in/trizmera" target="_blank" class="social-link">
        <img src="/assets/linkedin.svg" width="50px">
      </a>
      <!-- Add more social links as needed -->
    
  </footer>
</div>
</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
